/* import font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

/* css reset */
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #21243d;
}
body {
  display: flex;
  justify-content: space-around;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.headerLarge {
  display: flex;
  justify-content: flex-end;
  padding: 32px;
  gap: 32px;
  font-size: 20px;
}
.headerSmall {
  display: none;
  justify-content: flex-end;
  padding: 32px;
  gap: 32px;
  font-size: 24px;
}
.mainCard {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.mainCard img {
  display: block;
  border-radius: 50%;
}
.mainCard .imgTop {
  display: none;
}
.mainCardInfo {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #21243d;
}
.mainCardInfo button {
  border: 0px;
  border-radius: 8px;
  color: whitesmoke;
  background-color: #ff6464;
  width: fit-content;
  padding: 8px;
  font-size: 1.2rem;
}
.recentPost {
  margin-top: 60px;
  background-color: #edf7fa;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.recentPostHeader {
  display: flex;
  justify-content: space-around;
  padding-bottom: 8px;
  gap: 275px;
  color: #21243d;
}
.recentPostHeader a {
  color: #00a8cc;
}
.recentPostBox {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.recentPostCard {
  max-width: 380px;
  background-color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #21243d;
}
.featuredWork {
  display: flex;
  flex-direction: column;
}
.featuredWork p {
  padding-bottom: 8px;
  color: #21243d;
}
.featuredWorkCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid lightgray;
}
.featuredWorkCard img {
  border-radius: 24px;
}
.featuredWorkCardInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  color: #21243d;
}
.yearSpan {
  padding: 8px;
  background-color: skyblue;
  border-radius: 8px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 32px;
}
.footer p {
  color: #21243d;
}
.footerIcon {
  display: flex;
  gap: 16px;
  color: #21243d;
}
.recentPostFull {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recentPostCardFull {
  width: 60%;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
  }
  .headerLarge {
    display: none;
  }
  .headerSmall {
    display: flex;
  }
  .mainCard {
    flex-direction: column;
    align-items: center;
  }
  .mainCard img {
    width: 175px;
    height: 175px;
  }
  .mainCard .imgTop {
    display: block;
    padding-bottom: 16px;
  }
  .mainCard .imgBack {
    display: none;
  }
  .mainCardInfo {
    align-items: center;
    text-align: center;
  }
  .recentPost {
    align-items: center;
  }
  .recentPostBox {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .featuredWork {
    padding-left: 0;
    align-items: center;
  }
  .featuredWorkCard {
    flex-direction: column;
    align-items: center;
    text-align: start;
  }
  .recentPostCardFull {
    max-width: 380px;
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #21243d;
  }
}
